
package ${rspPackage};

import lombok.Data;
import java.io.Serializable;
import com.blink.framework.common.data.PageDTO;
import java.time.LocalDateTime;

/**
 * <p>
 * ${queryRspDTOName} 新增$!{table.comment}请求参数对象
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
public class ${queryRspDTOName} extends PageDTO implements Serializable {

    private static final long serialVersionUID = 1L;

    ## ----------  BEGIN 字段循环遍历  ----------
    #foreach($field in ${table.fields})

        /**
         * ${field.comment}
         */
        private ${field.propertyType} ${field.propertyName};

    #end

}
