<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blink.base.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blink.base.entity.SysMenuDO">
        <id column="menu_id" property="menuId"/>
        <result column="menu_name" property="menuName"/>
        <result column="menu_en_name" property="menuEnName"/>
        <result column="type" property="type"/>
        <result column="icon" property="icon"/>
        <result column="url" property="url"/>
        <result column="order_number" property="orderNumber"/>
        <result column="status" property="status"/>
        <result column="parent_id" property="parentId"/>
        <result column="menu_level" property="menuLevel"/>
        <result column="component_path" property="componentPath"/>
        <result column="hasChildren" property="hasChildren"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="delFlag" property="delFlag"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        menu_id
        , menu_name, menu_en_name, type, icon, url, order_number, status, parent_id, menu_level, component_path, hasChildren, create_by, create_time, update_by, update_time, delFlag
    </sql>


    <!-- 通用查询条件 -->
    <sql id="Condition_where">
        <trim prefix="where" prefixOverrides="and | or ">
            <if test="menuId != null and menuId != ''">and menu_id = #{menuId}</if>
            <if test="menuName != null and menuName != ''">and menu_name = #{menuName}</if>

            <if test="menuEnName != null and menuEnName != ''">and menu_en_name = #{menuEnName}</if>

            <if test="type != null and type != ''">and type = #{type}</if>

            <if test="icon != null and icon != ''">and icon = #{icon}</if>

            <if test="url != null and url != ''">and url = #{url}</if>

            <if test="orderNumber != null and orderNumber != ''">and order_number = #{orderNumber}</if>

            <if test="status != null and status != ''">and status = #{status}</if>

            <if test="parentId != null and parentId != ''">and parent_id = #{parentId}</if>

            <if test="menuLevel != null and menuLevel != ''">and menu_level = #{menuLevel}</if>

            <if test="componentPath != null and componentPath != ''">and component_path = #{componentPath}</if>

            <if test="hasChildren != null and hasChildren != ''">and hasChildren = #{hasChildren}</if>

            <if test="createBy != null and createBy != ''">and create_by = #{createBy}</if>

            <if test="createTime != null ">and create_time = #{createTime}</if>

            <if test="updateBy != null and updateBy != ''">and update_by = #{updateBy}</if>

            <if test="updateTime != null ">and update_time = #{updateTime}</if>

            <if test="delFlag != null and delFlag != ''">and delFlag = #{delFlag}</if>

        </trim>
    </sql>


    <select id="findSysMenuList" parameterType="com.blink.base.entity.SysMenuDO" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_menu
        <include refid="Condition_where"/>
    </select>

    <!-- 根据角色查询能访问的所有菜单-->
    <select id="findSysMenuListByRole" resultType="com.blink.base.dto.vo.SysMenuVO">
--         已分配权限的菜单
        select sm.* from
            sys_menu sm
        left join sys_role_menu_rela srmr on srmr.menu_id= sm.menu_id
        where srmr.role_id in
        <foreach collection="roleIds" item="roleId" index="index" open="(" close=")" separator=",">
            #{roleId}
        </foreach>

    </select>


</mapper>
