.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
**/logs/
**/gradlew
**/gradlew.bat
!**/gradle/**



/learn.md
/env.properties
/gradlew.bat
/gradlew
/blink.pub
/blink