
package ${reqPackage};

import java.io.Serializable;
import com.blink.framework.common.record.PageRecord;

import java.time.LocalDateTime;

/**
 * <p>
 * ${queryReqDTOName} 查询列表$!{table.comment}请求参数对象
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public record ${queryReqDTOName}(

    ## ----------  BEGIN 字段循环遍历  ----------
    #foreach($field in ${table.fields})

        /**
         * ${field.comment}
         */
         ${field.propertyType} ${field.propertyName},

    #end
        PageRecord pageRecord

)implements Serializable {

}

