<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blink.gateway.base.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blink.gateway.base.entity.SysUserDO">
        <id column="user_id" property="userId" />
        <result column="login_name" property="loginName" />
        <result column="password" property="password" />
        <result column="username" property="username" />
        <result column="avatar" property="avatar" />
        <result column="avatar_style" property="avatarStyle" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="locked" property="locked" />
        <result column="salt" property="salt" />
        <result column="psw_retry" property="pswRetry" />
        <result column="superFlag" property="superFlag" />
        <result column="remark" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="lock_time" property="lockTime" />
    </resultMap>

    <resultMap id="VoResultMap" type="com.blink.gateway.base.dto.vo.SysUserVO">
        <id column="user_id" property="userId" />
        <result column="login_name" property="loginName" />
        <result column="username" property="username" />
        <result column="avatar" property="avatar" />
        <result column="avatar_style" property="avatarStyle" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="locked" property="locked" />
        <result column="superFlag" property="superFlag" />
        <result column="psw_retry" property="pswRetry" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="lock_time" property="lockTime" />
        <result column="remark" property="remark" />

        <collection property="roles" ofType="com.blink.gateway.base.dto.vo.SysRoleVO">
            <id property="roleId" column="role_id"/>
            <result property="roleName" column="role_name"/>
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, login_name, password, username, avatar, avatar_style, sex, phone, email, last_login_time, locked, salt,psw_retry, superFlag, remark, create_by, update_by, create_time, update_time, lock_time
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Condition_where">
        <trim prefix="where" prefixOverrides="and | or ">
            <if test="loginName != null and loginName != ''">and login_name = #{loginName}</if>

            <if test="username != null and username != ''">and username = #{username}</if>

            <if test="sex != null and sex != ''">and sex = #{sex}</if>

            <if test="phone != null and phone != ''">and phone = #{phone}</if>

            <if test="email != null and email != ''">and email = #{email}</if>

            <if test="lastLoginTime != null ">and last_login_time = #{lastLoginTime}</if>

            <if test="createTime != null ">and create_time = #{createTime}</if>
        </trim>
    </sql>

    <select id="findSysUserList" parameterType="com.blink.gateway.base.dto.req.QuerySysUserReq" resultMap="VoResultMap">
        select su.user_id,su.login_name,su.username,su.avatar,su.avatar_style,su.sex,su.phone,su.email,su.last_login_time,su.create_time,su.locked,
               sr.role_id,sr.role_name
        from sys_user su
        left join sys_user_role_rela surr on su.user_id = surr.user_id
        left join sys_role sr on sr.role_id = surr.role_id
        <trim prefix="where" prefixOverrides="and | or ">
            <if test="loginName != null and loginName != ''">and su.login_name like concat('%', #{loginName}, '%')</if>

            <if test="username != null and username != ''">and su.username like concat('%', #{username}, '%')</if>

            <if test="sex != null ">and su.sex = #{sex}</if>


            <if test="startDate != null ">and su.create_time <![CDATA[ >= ]]> #{startDate}</if>

            <if test="endDate != null ">and su.create_time <![CDATA[ <= ]]> #{endDate}</if>

            <if test="excludeSuperAdmin != null and excludeSuperAdmin == true">and su.superFlag != 1</if>
        </trim>
    </select>

    <select id="findUserDetail" parameterType="com.blink.gateway.base.dto.req.QuerySysUserReq" resultMap="VoResultMap">
        select su.user_id,su.login_name,su.username,su.avatar,su.avatar_style,su.sex,su.phone,su.email,su.last_login_time,
               su.locked,su.superFlag,su.psw_retry,su.create_by,su.update_by,su.create_time,su.update_time,su.lock_time,su.remark,
               sr.role_name,sr.role_id
        from sys_user su
                 left join sys_user_role_rela surr on su.user_id = surr.user_id
                 left join sys_role sr on sr.role_id = surr.role_id
        where su.login_name = #{loginName}
    </select>

    <select id="selectUserListByIds" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where user_id in
        <foreach collection="list" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>
</mapper>
