<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    #set($end=$entity.length() - 2)
    #set($entityOrigin=$entity.substring(0,$end))
    #set($entityLowerCase=$entityOrigin.substring(0,1).toLowerCase()+$entityOrigin.substring(1))
<mapper namespace="${package.Mapper}.${table.mapperName}">

    #if(${enableCache})
        <!-- 开启二级缓存 -->
        <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    #end

    #if(${baseResultMap})
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="${package.Entity}.${entity}">
#foreach($field in ${table.fields})
#if(${field.keyFlag})##生成主键排在第一位
        <id column="${field.name}" property="${field.propertyName}"/>
#end
#end
#foreach($field in ${table.commonFields})##生成公共字段
        <result column="${field.name}" property="${field.propertyName}"/>
#end
#foreach($field in ${table.fields})
#if(!${field.keyFlag})##生成普通字段
        <result column="${field.name}" property="${field.propertyName}"/>
#end
#end
    </resultMap>
    #end

    #if(${baseColumnList})
        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        #foreach($field in ${table.commonFields})
         ${field.name},
        #end
        ${table.fieldNames}
        </sql>
    #end

    <!-- 通用查询条件（自动适配字段类型） -->
    <sql id="Condition_where">
        <trim prefix="where" prefixOverrides="and | or ">
#foreach($field in ${table.fields})
#if(${field.keyFlag})## 主键字段
#if(${field.columnType.type} == "String")
        <if test="${field.propertyName} != null and ${field.propertyName} != ''">and ${field.name} = #{${field.propertyName}}</if>
#else
    <if test="${field.propertyName} != null">and ${field.name} = #{${field.propertyName}}</if>
#end
#end
#end
#foreach($field in ${table.commonFields})## 公共字段
#if(${field.columnType.type} == "String")
    <if test="${field.propertyName} != null and ${field.propertyName} != ''">and ${field.name} = #{${field.propertyName}}</if>
#else
    <if test="${field.propertyName} != null">and ${field.name} = #{${field.propertyName}}</if>
#end
#end
#foreach($field in ${table.fields})
#if(!${field.keyFlag})## 普通字段
    #if(${field.columnType.type} == "String")
        <if test="${field.propertyName} != null and ${field.propertyName} != ''">and ${field.name} = #{${field.propertyName}}</if>
    #else
        <if test="${field.propertyName} != null">and ${field.name} = #{${field.propertyName}}</if>
    #end
#end
#end
    </trim>
    </sql>

    <select id="find${entityOrigin}List" parameterType="${reqPackage}.${queryReqDTOName}" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ${table.name}
        <include refid="Condition_where"/>
    </select>

</mapper>